<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <components>
    <component id="Manual2Dao"  type="MCastle.Dao.Manual2Dao,MCastle.Dao"></component>
    <component id="ManualDao" service="MCastle.IDao.IManualDao,MCastle.IDao" type="MCastle.Dao.ManualDao,MCastle.Dao"></component>
    <component id="extendDao"  type="MCastle.IDao.extendDao,MCastle.IDao"></component>
  </components>

</configuration>
